.contents

  = render partial: "shared/side_bar"

  .chat
    .header
      .left-header
        .left-header__title ここにタイトル
        .left-header__members
          %ul.member Member:
          %li.member ここに名前


      .right-header
        %p.right-header__button Edit

    .mainMessages
      .messages


