.contents

  = render partial: "shared/side_bar"

  .chat
    .header
      .left-header
        .left-header__title ここにタイトル
        .left-header__members
          %ul.member Member:
          %li.member ここに名前


      .right-header
        %p.right-header__button Edit

    .messages
      .message
        .upper-message
          .upper-message__user-name ここに名前
          .upper-message__date 20xx/xx/xx xx:xx:xx
        .lower-message
          .lower-message__content ここにメッセージ

    .form
      .form__message
      .form__mask
        .form__image
          = fa_icon 'picture-o'
        .hidden

      .form__submit Send
